artwork/*.png filter=lfs diff=lfs merge=lfs -text
artwork/*.ai filter=lfs diff=lfs merge=lfs -text
artwork/*.jpg filter=lfs diff=lfs merge=lfs -text
hugo/assets/img/favicon.png filter=lfs diff=lfs merge=lfs -text
hugo/assets/img/logo.svg filter=lfs diff=lfs merge=lfs -text
hugo/content/galerija/*/*.jpg filter=lfs diff=lfs merge=lfs -text
images/** filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
