<!-- Main -->
<div id="main">
    {{ $gallery_path := path.Dir .File.Path | path.Base | path.Join "img" "gallery" -}}
    {{ range .Params.include_images -}}
    <article class="thumb">
        {{ with .img | path.Join $gallery_path | resources.Get -}}
        {{ $full := .Resize "1280x" -}}
        {{ $thumb := .Fill "640x640" -}}
        <a href="{{ $full.Permalink }}" class="image"><img src="{{ $thumb.Permalink }}" alt="" /></a>
        {{ end -}}
        <h2>{{ index . "title" | default "" }}</h2>
        {{ with .description }}<p>{{ . }}</p>{{ end -}}
    </article>
    {{ end }}
</div>
